body.has-review-block {
    padding-bottom: 100px;
}

#review_comment {
    display: none;
    position: relative !important;
    padding: 15px 15px 0 15px !important;
    background: #ffffff !important;
    white-space: normal !important;
    margin: 0 30px 30px !important;
    border: 1px solid #ccc !important;
    border-top: 0 !important;
    border-radius: 0 0px 5px 5px !important;
    box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.3);
}
#review_ticket {
    display: none;
}
div.review_btn {
    padding: 11px 20px 9px !important;
    border: 1px solid #000 !important;
    border-radius: 10px !important;
    display: inline-block;
    cursor: pointer !important;
    color: #333 !important;
    text-align: center !important;
    color: #fff !important;
    background-color: #000 !important;
    font-family: Helvetica, Arial, sans-serif !important;
    line-height: 1.5em !important;
    margin-right: 5px !important;
}

div.review_btn.review_cancel,
div.review_btn.comment_delete,
#review_abort,
#review_cancel {
    background: white !important;
    border-color: #c0c0c0 !important;
    color: #000 !important;
}

span.btn_small {
    background: #efe !important;
    margin-left: 4px !important;
    border: 1px solid #888 !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    cursor: pointer;
}

#review_text {
    width: 100% !important;
    border: 1px solid #cacaca !important;
    box-sizing: border-box !important;
    border-radius: 10px !important;
    display: block !important;
    position: relative !important;
    min-height: 3em !important;
    padding: 10px !important;
    font-size: 14px !important;
    outline: none !important;
    font-family: "SF UI Text", Helvetica, Arial, sans-serif !important;
}
#review_text:focus {border: 1px solid #000 !important;}
#review_msg {
    white-space: pre-wrap !important;
}
#review_msg.error {
    color: red !important;
}
#review_ticket_select {
    display: inline-block;
    line-height: 36px;
}
.syntaxhighlighter div.commented.line {
    background: #fffdea !important;
}
.syntaxhighlighter div.commented.line:hover {
    background: #fffdea !important;
}
.syntaxhighlighter div.commented.line.deleted-row-container {
    background: #fff8ea !important;
}
.syntaxhighlighter div.commented.line.added-row-container {
    background: #faffea !important;
}

.comment-container {
    white-space: normal;
}

.comment-container > div {
    color: black !important;
    background: #ffffff !important;
    white-space: pre-wrap;
    padding: 5px !important;
    max-width: calc(86vw - 200px);
    margin: 0 30px !important;
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
}

.comment-container > div + div {
    padding-left: 10px !important;
    border-top: 0 !important;
    margin-top: 0 !important;
}

.comment-container > div + div + div {
    padding-left: 40px !important;
}

.comment-container > div:first-child {
    margin-top: 10px !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px  !important;
}

/* Last comment */
.comment-container > div:last-child {
    margin-bottom: 20px !important;
    box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.3);
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.commented div.comments.draft.controls {
    background-color: rgba(123, 19, 193, 0.2) !important;
    margin: 0px 20px 0px 0px !important;
    padding: 0 !important;
    text-align: right !important;
    height: 100% !important;
    padding: 5px 100px 5px 5px !important;
}

div.review-select {
    border-bottom: 1px dashed #08f !important;
    color: #08f;
    margin: 3px 5px !important;
    display: inline-block;
    cursor: pointer;
}
div.review-selected {
    color: #000 !important;
    border-bottom: 0 !important;
    cursor: default;
}
.author, .date {
    color: #000 !important;
    font-size: 14px !important;
}
.comment-user .date {
    font-size: 12px !important;
    color: #8e8e8e !important;
    margin-left: 20px;
    float: right;
    clear: both;
    font-weight: 100;
}
.author {
    font-weight: bold;
}

#review_review,
#notifications {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 10px 20px;
    display: none;
    border-radius: 5px;
    background: white;
    border: 1px solid #c0c0c0;
    box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.3);
    z-index: 1;
}

#review_review .review-actions {
    float: right;
}

#review_alert {
    display: none;
    position: fixed;
    top: 20px;
    margin: 0 auto;
}

.reivew_commentnav {
    position: fixed;
    top: 80px;
    right: 20px;
    background: rgba(240, 240, 240, 0.6);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    font: 30px/40px sans-serif;
}
.reivew_commentnav:hover {
    background: rgba(240, 240, 240, 0.9);
}

.has-review-block #review_commentnav_next {
  bottom: 100px;
}

#review_commentnav_next {
    top: auto;
    bottom: 20px;
}

#review_splash {
    position: fixed;
    top: 20px;
    right: 20px;
    margin: 0;
    padding: 6px;
    color: #fee;
    font: 20px "Andale", "Menlo", monospace;
    background: rgba(80, 128, 80, 0.9);
    display: none;
    border: 3px solid #484;
    border-radius: 5px;
}

span.head, span.review {
	/* head badge */
	padding: 4px 10px;
	font-size: 12px;
	font-weight: normal;
	background-color: #d1ffd1;
	border-radius: 5px;
	margin-left: 10px;
    white-space: nowrap;
}

span.review {
    /* review badge */
    background-color: #ffaaaa;
}

#session_checker {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}

#session_checker_popup {
    padding: 20px;
    border: 1px;
    position: fixed;
    left: 45%;
    top: 30%;
    background: white;
}

/* Side by side review */
.review_comment_block.sbs {
    display: none;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.review_comment_block.sbs .text {
    color: #008200;
}

#review_comment_tab {
    padding-bottom: 10px !important;
}

#review_ticket_tab {
    padding-bottom: 15px !important;
}

.comment-container .comments a {
  display: block;
  white-space: nowrap;
}

.comment-container .comments {
  padding: 15px 15px 0 15px !important;
  white-space: normal;
}

.comment-container .comments + .comments {
  padding-left: 30px !important;
  position: relative;
}

.comment-container .comments + .comments + .comments {
  padding-left: 45px !important;
}

.comment-container .comments + .comments + .comments + .comments {
    padding-left: 60px !important;
}

.comment-container .comments + .comments + .comments + .comments + .comments {
    padding-left: 75px !important;
}

.comment-container .comments + .comments:after {
  content: "";
  background: #f9f9f9;
  left: 0;
  top: 0;
  width: 15px;
  position: absolute;
  height: 100%;
}

.comment-container .comments + .comments + .comments:after {
  width: 30px;
}

.comment-container .comments + .comments + .comments + .comments:after {
  width: 45px;
}

.comment-container .comments + .comments + .comments + .comments + .comments:after {
  width: 60px;
}

.comment-container .comments, .comment-container .comments a {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}

.comment-container .comments .text,
.cloud_with_text.sbs .text {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "SF UI Text", Helvetica, Arial, sans-serif !important;
  white-space: pre-wrap;
}

.cloud_with_text.sbs {
    padding: 10px;
    background: #ffffff;
}

.selected_text {
    background-color: #fffcce !important;
}

#review_text.sbs {
    height: 50px;
}

#notifications {
    background-color: #ffffd7;
    padding: 20px;
    display: none;
}

#notifications strong {
    cursor: pointer;
    display: inline-block;
    color: #000;
    text-decoration: underline;
}

.hoverable {
        visibility: hidden;
}

/* Do not hide hoverable element, which is marked as active. */
.hoverable.active {
        visibility: inherit;
}

:hover > .hoverable {
    visibility: visible;
}

.context-menu-button {
    font-size: 120% !important;
    cursor: pointer;
    position: absolute !important;
    z-index: 2;
    left: 0px;
    background-color: #0366d6;
    background-image: linear-gradient(#0372ef, #0366d6);
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(27,31,35,0.15);
    text-align: center;
    width: 22px;
    height: 22px;
    color: #fff;
    transition: -webkit-transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
}

.context-menu-button::after {
    content: "+";
}

.context-menu-button:hover {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.two-panes .SBSContent .CodeMirror-linewidget {
    max-width: calc(43vw - 180px);
}

.SBSContent .CodeMirror-linewidget {
    margin: 15px;
    box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.3);
    max-width: calc(45vw - 100px);
}

.CodeMirror-linewidget .edit_buttons {
    background: white;
    border: 1px solid #ccc;
    border-top: 0;
    padding: 3px 10px 5px;
}

.SBSContent .CodeMirror-linewidget + .CodeMirror-linewidget {
    margin-top: -17px;
}
