#review_comment {
    display: none;
    position: relative !important;
    padding: 7px !important;
    background: #fffbc2 !important;
    white-space: normal !important;
}
#review_ticket {
    display: none;
}
div.review_btn {
    margin: 3px auto !important;
    padding: 4px !important;
    border: 1px solid #888 !important;
    border-radius: 3px !important;
    background: #efe !important;
    display: inline-block;
    cursor: pointer !important;
    color: #333 !important;
}

span.btn_small {
    background: #efe !important;
    margin-left: 4px !important;
    border: 1px solid #888 !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    cursor: pointer;
}

#review_text {
    width: 100% !important;
    border: 1px solid #888 !important;
    box-sizing: border-box !important;
    border-radius: 3px !important;
    display: block !important;
    position: relative !important;
    margin: 3px auto !important;
}
.review_text:focus {
    box-shadow: 0 0 2px 1px #08f !important;
}
#review_msg {
    white-space: pre-line !important;
}
#review_msg.error {
    color: red !important;
}
#review_ticket_select {
    display: inline-block;
}
.syntaxhighlighter div.commented.line {
    background: #fffbc2 !important;
}
.syntaxhighlighter div.commented.line:hover {
    background: #fffbc2 !important;
}
.commented div.comments {
    color: blue !important;
    background: #fffbc2 !important;
    margin-left: 20px !important;
    white-space: pre-line;
    padding: 5px !important;
    max-width: 980px;
}
.commented div.comments + .comments {
    border-top: 2px solid #eadc00 !important;
}
.commented div.comments.draft {
    /*background: #f88 !important;*/
    background-color: rgba(123, 19, 193, 0.2) !important;
    margin-left: 0 !important;
}

.commented div.comments.draft.controls {
    /*background: #f88 !important;*/
    background-color: rgba(123, 19, 193, 0.2) !important;
    margin: 0px 20px 0px 0px !important;
    padding: 0 !important;
    text-align: right !important;
    height: 100% !important;
    padding: 5px 100px 5px 5px !important;
}

.commented table {
    margin-left: 19px !important;
    border: 0 !important;
    border-spacing: 0 !important;
    padding: 0 !important;
}

div.review-select {
    border-bottom: 1px dashed #08f !important;
    color: #08f;
    margin: 3px 5px !important;
    /*float: left !important;*/
    display: inline-block;
    cursor: pointer;
}
div.review-selected {
    color: #000 !important;
    border-bottom: 0 !important;
    cursor: default;
}
.author, .date {
    color: #000 !important;
    font-size: 14px !important;
}
.author {
    font-weight: bold;
}

#review_review {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 7px 4px;
    display: none;
    background: #eee !important;
    box-shadow: 0 -5px 20px 5px #EEE;
}
#review_alert {
    display: none;
    position: fixed;
    top: 20px;
    margin: 0 auto;
    /*left: 45%;*/
}

.reivew_commentnav {
    position: fixed;
    top: 20px;
    right: 20px;
    background: rgba(240, 240, 240, 0.4);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    font: 36px/36px sans-serif;
    color: #88F;
}
.reivew_commentnav:hover {
    background: rgba(240, 240, 240, 0.9);
}
#review_commentnav_prev {
}
#review_commentnav_next {
    top: auto;
    bottom: 20px;
}

#review_splash {
    position: fixed;
    top: 20px;
    right: 20px;
    margin: 0;
    padding: 6px;
    color: #fee;
    font: 20px "Andale", "Menlo", monospace;
    background: rgba(80, 128, 80, 0.9);
    display: none;
    border: 3px solid #484;
    border-radius: 5px;
}

span.review {
    /* review badge */
    padding: 0px 4px;
    font-size: 10px;
    font-weight: normal;
    background-color: #ffaaaa;
    border: 1px solid;
    border-color: #ffcccc #ff0000 #ff0000 #ffcccc;
}

#session_checker {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}

#session_checker_popup {
    padding: 20px;
    border: 1px;
    position: fixed;
    left: 45%;
    top: 30%;
    background: white;
}

/* Side by side review */
.review_comment_block.sbs {
    display: none;
    position: relative !important;
    padding: 10px !important;
    background: #eee !important;
    white-space: normal !important;
}

.cloud_with_text.sbs {
    padding: 10px;
    background: #ffffff;
}

.selected_text {
    background: #eee !important;
}

#review_text.sbs {
    height: 50px;
}

.commented div.comments.thread:before {
    content: "⤷ ";
    font-size: 120%;
    color: black;
}

#notifications {
    background-color: #ffff99;
    padding-left: 5px;
    height: 40px;
    font-size: 120%;
    display: none;
}

.hoverable {
        visibility: hidden;
}

/* Do not hide hoverable element, which is marked as active. */
.hoverable.active {
        visibility: inherit;
}

:hover > .hoverable {
    visibility: visible;
}

.context-menu-button {
    font-size: 120% !important;
    cursor: pointer;
    position: absolute !important;
    z-index: 2;
    left: 0px;
    background-color: #0366d6;
    background-image: linear-gradient(#0372ef, #0366d6);
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(27,31,35,0.15);
    text-align: center;
    width: 22px;
    height: 22px;
    color: #fff;
    transition: -webkit-transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
}

.context-menu-button:hover {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
