.review_comment_block {
    display: none;
    position: relative !important;
    padding: 10px !important;
    background: #eee !important;
    white-space: normal !important;
}

.cloud_with_text {
    padding: 10px;
    background: #ffffff;
}

.selected_text {
    background: #eee !important;
}

#review_text {
    height: 50px;
}
